{{! This will be your default layout for all handlebars file rendered. This will be inherited by all other templates. }}
{{! Refer lecture code to learn more on how this works
don't forget to include your css and your client-side script file references in the layout.
}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Lab 10</title>

  <link rel="stylesheet" href="/public/css/lab10.css">
  <div id="results"></div>
  
</head>
<body>
  <h1>My Lab 10</h1>
  <h2>This is Lab 10 Form</h2>
  <main>
    {{{body}}}
  </main>
</body>
</html>