{{!--

registration handelbars

--}}

<h1>Registration</h1>
<form action="/register" method="post">
    
    <label for="firstNameInput">firstName:</label>
    <input type="text" id="firstName" name="firstNameInput" required>
    
    <label for="lastNameInput">lastName:</label>
    <input type="text" id="lastName" name="lastNameInput" required>
    
    <label for="emailAddressInput">email:</label>
    <input type="email" id="email" name="emailAddressInput" required>

    <label for="passwordInput">password:</label>
    <input type="password" id="password" name="passwordInput" required>
    
    <label for="confirmPasswordInput">confirmPassword:</label>
    <input type="password" id="confirmPassword" name="confirmPasswordInput" required>

    <select name="roleInput">
      <option value="user">User</option>
      <option value="admin">Admin</option>
    </select>

    <button type="submit">Register</button> 
</form>

<a href="/login">Already have an account?</a>
<script src="/public/js/lab10.js"></script>